@model IEnumerable<ToDoListWeekSix.Models.DTOs.ListDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>To Do List:</h1>

@foreach (var task in Model)
{
<ul>
    <li>@Html.DisplayFor(listItem => task.Id)</li>
    <li>@Html.DisplayFor(listItem => task.Task)</li>
    <li>@Html.DisplayFor(listItem => task.DueDate)</li>
    <li>@Html.DisplayFor(listItem => task.Assignee)</li>
</ul>
}

